#legend ul{
    display: inline;
    margin-left: 10px;
   
}
#legend li{
    margin-left: 10px;
    display: inline;
}
#legend{
    height:100px;
    color: gray;
    margin-bottom: 20px;
    margin-top: 30px;
    border-top:  1px dashed #ccc;
    padding-top: 30px; 
}

#legend p{
    color: black;
}
